<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best news Review website </title>
        {% endif %}
        {% extends 'base.html'%}
        {% import 'macros.html' as macro%}
    </head>
   
    <body>
        <center><u> <h1> News</h1></u></center>
          <!-- Content block -->
        {% block content %}

        <h3> General News</h3>
        <ul>
            {{ macro.displayNewList(general)}}
        </ul>
         <!-- language  -->
        <h3> Language  </h3>
        <ul>
            {{ macro.displayNewList(en)}}
        </ul>
        <!-- Now showing new -->
        <h3>Country</h3>
        <ul>
            {{ macro.displayNewList(us)}}
        </ul>

        {% endblock%}
         
    </body>
    </body>
</html>

<!-- https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDZDt09o4EAsdTI7VWO9FoVsQrjCkQKcPXiRqwjO9RA7IU-5wX -->