{% macro displaySourceList(sources_list) %}

    {% for source in sources_list %}
        <div class="col-md-3 single-source">
            <div class="row">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <p>{{source.name}}</p>
                    </div>
                
                    <p> {{source.description}}</p>
                       
                    <a href="/new/{{source.id}}">you can see the alticle in the source</a>
                </div>
            </div>               
        </div>
    {% endfor %}
{% endmacro %}
 

            
                
                
            
            