{% extends 'base.html'%}
<!-- Content block -->
{% block content %}
{% for article in articles %}
<div class="container">

    
    <div class="row">
        
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 news_source-details">
            
            <img src="{{article.urlToImage}}" width="200">
            <p>description:{{ article.description }}</p>
            <p>author: {{ article.author}}</p>
            <p>publishedAt: {{ article.publishedAt }}</p>

        </div>
    </div>
{% endfor %}
</div>
{% endblock %}